body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
    overflow-y: scroll;
    font-size: 16px;

    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

.cookies {
    background-color: rgb(18, 13, 13);
    position: fixed;
    top: calc(50% - 7rem);
    max-width: 900px;
    height: 14rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding: 1rem;
    display: none;

    border: 2px solid red;
    border-radius: 0.5rem;
    
    z-index: 55;
}

.cookies a {
    text-decoration: underline;
}

.cookies > .button {
    height: 120px;
    width: 120px;
    background-image: url("images/paws.svg");
    background-size: cover;
	background-position: right center;
    cursor: pointer;
}

.cookies > .button:hover {
    transform: scale(1.1)
}

.cookies > .button > span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: -1.6rem;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    max-width: 900px;
}

.container .header {
    background-image: url('./images/header.jpg');
    height: 190px;
}

.container .banner {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.container .banner .info {
    align-items: center;
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
}

.container .banner img {
    height: 15rem;
}

.container .header .links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.5rem;
    opacity: 0.7;
}

.container .header .links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.container .header .links .active {
    color: red;
}

.container .header .links a:hover {
    color: red;
}

.menu {
    background-color: red;
    display: flex;
    justify-content: center;
    gap: 0rem;
    background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(22,22,22,1) 70%, rgba(49,49,49,1) 100%);
}

.menu .item {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu .item.active {
    border-bottom: 1px solid red;
}

.menu .item:hover {
    cursor: pointer;
    border-bottom: 1px solid red;
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    background-color: #222222;

}

.container .content a:hover {
    color: red;
}

p.big {
    line-height: 1.5rem
}

p.large {
    line-height: 2rem;
}

.content .wrapper {
    display: flex;
    justify-content: space-between;
}

.content .wrapper .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content .wrapper .right {
    display: flex;
    align-items: center;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.content .submenu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.underline {
    text-decoration: underline;
}

.sale {
    text-decoration: line-through;
    color: red;
}

.content .submenu .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content .submenu .wrapper:hover {
    transform: scale(1.05);
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    cursor: pointer;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}

.content .submenu .wrapper .description {
    padding: 1rem;
    background-color: black;
    text-align: center;
}

.container .footer {
    display: flex;
    width: 900px;
    background: #181818;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 1.5rem 0;
    gap: 0.5rem;
    /* position: fixed; */
    bottom: 0;
}

.container .call {
    /* font-size: 1em; */
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
}

.right .thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 1rem;
    gap: 1.5rem;
}

.right .thumbnails2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1rem;
    gap: 10rem;
}

.left > .highlight {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 1rem 0 2rem 0
}